In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df_wages = pd.read_csv("wages.csv")

In [4]:
df_wages.head()

           earn  height     sex   race  ed  age
0  79571.299011   73.89    male  white  16   49
1  96396.988643   66.23  female  white  16   62
2  48710.666947   63.77  female  white  16   33
3  80478.096153   63.22  female  other  16   95
4  82089.345498   63.08  female  white  17   43